// Build output
dist
build
coverage

// Dependencies
node_modules

// Minified files
*.min.js
.min.css

// Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

// Environment and Config files
.env
.env. (edited)Monday, February 9, 2026 at 3:03 PM
:thumbsup:
Click to react
:smiley:
Click to react
:laughing:
Click to react
Add Reaction
Reply
Forward
More
[3:03 PM]Monday, February 9, 2026 at 3:03 PM
